@using ServiceManagment.Data.Enum
@model ServiceManagment.ViewModel.DetailOrderViewModel

@{
}
<html>
    <head>
       @* add meta*@
    </head>
    <body class="bg-dark text-white">
        <div class="text-center fs-1">
            <h1 class="display-3">Order detail</h1>
        </div>
        <div class="container" style="margin-left: 20%; margin-top: 2%">
            <input type="text" asp-for="@Model.WorkerId" hidden/>
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                    <label class="form-label">Added by</label>
                    <input type="text" class="form-control bg-dark border-1 border-info text-white" asp-for="@Model.WorkerName" readonly>
                </div>
                <div class="col-md-2">
                    <label class="form-label">&nbsp;</label>
                    <a type="button" class="form-control btn btn-outline-info" asp-controller="Worker"
                        asp-action="Detail" asp-route-id="@Model.WorkerId">Profile</a>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <label class="form-label">Order ID</label>
                    <input type="text" class="form-control" asp-for="@Model.Id" readonly>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Added</label>
                    <input type="text" class="form-control" asp-for="@Model.OrderAdded" readonly>
                </div>
                <div class="col-md-2">
                    <label class="form-label">&nbsp;</label>
                    <a type="button" class="form-control btn btn-outline-success" asp-controller="Order"
                        asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <label class="form-label">Order status</label>
                    <input type="text" class="form-control" asp-for="@Model.OrderStatus" readonly>
                </div>  
                <div class="col-md-3">
                    <label class="form-label">Customer</label>
                    <input type="text" class="form-control" asp-for="@Model.Customer.Name" readonly>
                </div>
                <div class="col-md-2">
                    <label class="form-label">&nbsp;</label>
                    <a type="button" class="form-control btn btn-outline-info" asp-controller="Order"
                        asp-action="DetailOrderPayment" asp-route-id="@Model.Id">Payment</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <label class="form-label">Type</label>
                    <input type="text" class="form-control" asp-for="@Model.Product.ProductType" readonly>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Producer</label>
                    <input type="text" class="form-control" asp-for="@Model.Product.ProducerName" readonly>
                </div>
                <div class="col-md-2">
                    <label class="form-label">&nbsp;</label>
                    <a type="button" class="form-control btn btn-outline-warning" asp-controller="Customer"
                        asp-action="Detail" asp-route-id="@Model.Customer.Id">Customer profile</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <label class="form-label">Serial number</label>
                    <input type="text" class="form-control" asp-for="@Model.Product.SerialNumber" readonly />
                </div>
                <div class="col-md-3">
                    <label class="form-label">Model name</label>
                    <input type="text" class="form-control" asp-for="@Model.Product.Model" readonly>
                </div>
                <div class="col-md-2">
                    <label class="form-label">&nbsp;</label>
                    <a type="submit" class="form-control btn btn-outline-danger" asp-controller="Order"
                        asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <label class="form-label">City</label>
                    <textarea type="text" class="form-control" asp-for="@Model.Product.Description" style="resize: none" rows="4" readonly>

                    </textarea>
                </div>
                <div class="col-md-3">
                    <div class="col-md-4">
                        <label class="form-label">Product fault</label>
                        <input type="text" class="form-control" asp-for="@Model.Product.Fault" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Total cost</label>
                        <input type="number" class="form-control" asp-for="@Model.Payment.ToPay" readonly/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

@*<a type="button" class="btn btn-danger" asp-controller="Order"
    asp-action="Edit" asp-route-id="@Model.Id">Edit order</a>

<a type="button" class="btn btn-danger" asp-controller="Customer"
    asp-action="Detail" asp-route-id="@Model.CustomerId">Show customer profile</a>

<a type="button" class="btn btn-danger" asp-controller="Order"
    asp-action="DetailOrderPayment" asp-route-id="@Model.Id">Payments</a>
<br />
<div class="form-group">
    <label class="form-label">ID</label>
    <input type="text" class="form-control" asp-for="@Model.Id" readonly/>
</div>
<div class="form-group">
    <label class="form-label">All cost</label>
    <input type="number" class="form-control" asp-for="@Model.Payment.ToPay" readonly/>
</div>
<div class="form-group">
    <label class="form-label">Order added</label>
    <input type="date" class="form-control" asp-for="@Model.OrderAdded" readonly/>
</div>
<div class="form-group">
    <label class="form-label">Status</label>
    <input type="text" class="form-control" asp-for="@Model.OrderStatus" readonly/>
</div>
<div class="form-group">
    <label class="form-label">Owner</label>
    <input type="text" class="form-control" asp-for="@Model.Customer.Name" readonly/>
</div>
<div class="form-group">
    <label class="form-label">Type</label>
    <input type="text" class="form-control" asp-for="@Model.Product.ProductType" readonly/>
</div>
<div class="form-group">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" asp-for="@Model.Product.ProducerName" readonly/>
</div>
<div class="form-group">
    <label class="form-label">Model</label>
    <input type="text" class="form-control" asp-for="@Model.Product.Model" readonly/>
</div>
<div class="form-group">
    <label class="form-label">Serial number</label>
    <input type="text" class="form-control" asp-for="@Model.Product.SerialNumber" readonly/>
</div>
<div class="form-group">
    <label class="form-label">Fault</label>
    <input type="text" class="form-control" asp-for="@Model.Product.Fault" readonly/>
</div>
<div class="form-group">
    <label class="form-label">Description</label>
    <input type="text" class="form-control" asp-for="@Model.Product.Description" readonly/>
</div>*@

