@model ServiceManagment.ViewModel.HistoryCustomerViewModel

@{
}
<html>
    <head>
        @*add meta*@
    </head>
    <body class="bg-dark text-white">
        <div class="text-center fs-1">
            <h1 class="display-3">Customer history</h1>
        </div>
        <div class="row mb-3">
                <div class="col-md-2 input-group-sm">
                    <small class="help-block">To pay for orders</small>
                    <input type="number" class="form-control" asp-for="@Model.ToPay" readonly/>
                </div>
                <div class="col-md-2 input-group-sm">
                    <small class="help-block">Paid by customer</small>
                    <input type="number" class="form-control" asp-for="@Model.Paid" readonly/>
                </div>
            </div>
        <table class="table text-white" style="margin-top: 2%">
            <thead class="bg-white text-dark">
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Added</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Product type</th>
                    <th scope="col">Product name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var order in Model.Orders)
                {   
                    <tr>
                        @if(order.OrderStatus == ServiceManagment.Data.Enum.OrderStatus.New)
                        {
                            <td class="text-danger">@order.OrderStatus</td>
                        }
                        else if(order.OrderStatus == ServiceManagment.Data.Enum.OrderStatus.InProgress)
                        {
                            <td class="text-warning">@order.OrderStatus</td>
                        }
                        else
                        {
                            <td class="text-success">@order.OrderStatus</td>
                        }
                        <td>@order.OrderAdded</td>
                        <td>@order.Customer.Name</td>
                        <td>@order.Product.ProductType.ToString()</td>
                        <td>@order.Product.ProducerName @order.Product.Model</td>
                        <td>
                            <a type="submit" class="btn btn-outline-success btn-sm" asp-controller="Order" asp-action="Detail" asp-route-id="@order.Id">Detail</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>
