@model IEnumerable<ServiceManagment.Models.Customer>

@{
}

<html>
    <head>
		@*add meta*@
    </head>
    <body class="bg-dark text-white">
        <div class="text-center fs-1">
            <p class="display-3">Customers</p>
        </div>
        <div class="row mt-5">
            <form method="post" asp-action="Index">
                <div class="row mt-1">
                    <div class="col-md-5">
                        <input class="form-control" name="searchKey" value="@ViewData["CurrentKey"]" placeholder="Search key..."/>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-outline-danger">Search</button>
                    </div>
                </div>
				<div class="row mt-1">
					@if(TempData["Error"] != null)
					{
						<span class="text-danger">@TempData["Error"]</span>
					}
				</div>
            </form>
        </div>
		<div class="row mb-5 text-left">
            <div class="form-group col-md-10 fs-1">
                <a type="button" class="btn btn-outline-success btn-sm" asp-controller="Customer" 
                asp-action="Index">All orders</a>

                <a type="button" class="btn btn-outline-success btn-sm" asp-controller="Customer" 
                asp-action="ListCustomerByType" asp-route-customerType="Individual">Individual</a>

                <a type="button" class="btn btn-outline-success btn-sm" asp-controller="Customer" 
                asp-action="ListCustomerByType" asp-route-customerType="Company">Company</a>
            </div>
        </div>
		<table class="table text-white">
			<thead class="bg-white text-dark">
				<tr>
					<th>ID</th>
					<th>Added</th>
					<th>Type</th>
					<th>Name</th>
					<th>Group</th>
					<th>City</th>
					<th>Phone number</th>
					<th>Email address</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach(var customer in Model)
				{		
					<tr>
						<th scope="row">@customer.Id</th>
						<td>@customer.UserAdded</td>
						@if(customer.CustomerType == ServiceManagment.Data.Enum.CustomerType.Individual)
						{
						<td class="text-success">@customer.CustomerType</td>
						}
						else
						{
							<td class="text-danger">@customer.CustomerType</td>
						}
						<td>@customer.Name</td>
						<td>@customer.CustomerGroup</td>
						<td>@customer.Address.City</td>
						<td>@customer.Contact.PhoneNumber</td>
						<td>@customer.Contact.EmailAddress</td>
						<td>
							<a type="button" class="btn btn-outline-success btn-sm" asp-controller="Customer"
								asp-action="Detail" asp-route-id="@customer.Id">Detail</a>
						</td>
						<td>
							<a type="button" class="btn btn-outline-danger btn-sm" asp-controller="Order"
								asp-action="Create" asp-route-id="@customer.Id">Create order</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</body>
</html>