@model IEnumerable<ServiceManagment.Models.Order>

@{
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Order status</th>
            <th scope="col">Owner</th>
            <th scope="col">Product type</th>
            <th scope="col">Product name</th>
            <th scope="col">Added</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var order in Model)
        {   
            <tr>
                <td>@order.OrderStatus.ToString()</td>
                <td>@order.Customer.Name</td>
                <td>@order.Product.ProductType.ToString()</td>
                <td>@order.Product.ProducerName @order.Product.Model</td>
                <td>@order.OrderAdded</td>
            </tr>
        }
    </tbody>
</table>
